/*
  CSS file for login.html - the login page for C150data
*/

form {
    padding: 0% 15% 15%;
    height: 100%;
}

.submit {
    padding-top: 10px;
}

.form-control-label {
	color: #eee;
  	font-size: 24px;
}