header {
    padding: 156px 0 100px;
}

html,
body {
    height:100%;
    margin: 0;
    overflow:auto;
}

section {
    padding-top: 100px;
    padding-bottom: 60px;
}

#main-content {
    height: 100%;
}

#about-page {
    padding: 40% 0%;
}

#auth-buttons {
    display: none;
}

#main-content {
    height: 100%;
}

#hours-table-div {
    padding-top: 50px;
}

