header {
    padding: 156px 0 100px;
}

html,
body {
    height:100%;
    margin: 0;
    overflow:auto;
}

section {
    padding-top: 100px;
    padding-bottom: 50px;
}

#auth-buttons {
    display: none;
}

#main-content {
    height: 100%;
    /* Avoids collisions with the nav bar */
    padding-top: 56px;
}

#hours-table-div {
    padding-top: 50px;
}

