<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Data and Statistics for Columbia Lightweight Rowing Team">
	<meta name="author" content="Max Amsterdam and Lukas Geiger">

	<title>C150 Data</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<!-- Local CSS -->
	<link rel="stylesheet" href="/static/css/style.css">

	<!-- FontAwesome -->
	<script src="https://kit.fontawesome.com/12c10442a5.js"></script>

	<!-- Boostrap JS-->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
	</script>

	<!-- Moment JS -->
	<script src="https://momentjs.com/downloads/moment.js"></script>

	<!-- Tempus Dominus JS + CSS -->
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js">
	</script>
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />

</head>

<body class="bg-light">
	<div class="flex-container">
		<!-- Navigation -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
			<div class="container">
				<a class="navbar-brand js-scroll-trigger" href="/about">
					C150 Data
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
					aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" href="/about">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/hours">Hours</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/contact">Contact</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<section id="main-content">
			<div class="container-fluid" id="auth-buttons">
				<div class="row">
					<a class="" href="/authorize">
						<button class="btn btn-dark">Begin authorization</button>
					</a>
					<a class="" href="/insertNewToken">
						<button class="btn btn-dark">Insert a new token!</button>
					</a>
				</div>
			</div>
			<div class="container-fluid" id="hours-content">
				<div class="row">
					<div class='col-lg-5 align-self-center'>
						<div class="form-group">
							<div class="input-group date" id="datetimepickerStart" data-target-input="nearest">
								<input type="text" placeholder="Start Date" id="startDateInput"
									class="form-control datetimepicker-input" data-target="#datetimepickerStart" />
								<div class="input-group-append" data-target="#datetimepickerStart"
									data-toggle="datetimepicker">
									<div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
								</div>
							</div>
						</div>
					</div>
					<div class='col-lg-5 align-self-center'>
						<div class="form-group">
							<div class="input-group date" id="datetimepickerEnd" data-target-input="nearest">
								<input type="text" placeholder="End Date" id="endDateInput"
									class="form-control datetimepicker-input" data-target="#datetimepickerEnd" />
								<div class="input-group-append" data-target="#datetimepickerEnd"
									data-toggle="datetimepicker">
									<div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-2">
						<button type="submit" id="dataSubmitButton" class="btn btn-primary">
							<span id='spinner' class="spinner-border spinner-border-sm" role="status"></span>
							<span id='submitLabel'>Get Hours</span>
						</button>
					</div>
				</div>
				<div class="row" id="hours-table-div"></div>
			</div>
		</section>
	</div>

	<script type="text/javascript">
		$('#spinner').hide();
		$(document).on({
			ajaxStart: function () {
				$('#submitLabel').html("Loading...");
				$('#spinner').show();
			},
			ajaxStop: function () {
				$('#submitLabel').html("Get Hours");
				$('#spinner').hide();
			}
		});

		$("#dataSubmitButton").click(function (e) {
			e.preventDefault();
			$.ajax({
				url: "/getData",
				type: "get",
				data: {
					'start_date': $("#startDateInput").val(),
					'end_date': $("#endDateInput").val()
				},
				success: function (response) {
					$("#hours-table-div").html(response);
				},
				error: function (xhr) {
					//handle error	
				}
			});
		});

		$(function () {
			$('#datetimepickerStart').datetimepicker({
				format: 'L'
			});
			$('#datetimepickerEnd').datetimepicker({
				format: 'L',
				useCurrent: false
			});
			$("#datetimepickerStart").on("change.datetimepicker", function (e) {
				$('#datetimepickerEnd').datetimepicker('minDate', e.date);
			});
			$("#datetimepickerEnd").on("change.datetimepicker", function (e) {
				$('#datetimepickerStart').datetimepicker('maxDate', e.date);
			});
		});
	</script>
</body>

</html>