{% extends 'layout.html' %}
{% set active_page = "about" %}
{% block content %}
<link href="../static/css/about.css" rel="stylesheet">

<section id="hero">
  <div class="hero-container">
      <!-- Handles any alerts -->
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="container-fluid">
        <div class="row">
          <div class="col"></div>
          <div class="col">
            <div class="text-center alert alert-{{ category }}">
              {{ message }}
            </div>
          </div>
          <div class="col"></div>
        </div>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
    <div class="main-content fadeInDown">
      <h1>Welcome to C150 Data</h1>
      <h2>A website designed to meaningfully display the Columbia Lightweight Rowing team's training data.</h2>
      {% if not current_user.is_authenticated %}
      <a href="{{ url_for('login') }}" class="btn-get-started">Login</a>
      {% else %}
      <a href="{{ url_for('data') }}" class="btn-get-started">Data</a>
      {% endif %}
    </div>
  </div>
  <section class="header-down-arrow" id="downarrow">
    <a href="#about"><img src="../static/img/downarrow.png" width="40"></a>
  </section>
</section><!-- #hero -->

<!--==========================
  About Us Section 
  ============================-->
<section id="about">
  <div class="container">
    <div class="row about-container">

      <div class="col-lg-6 content order-lg-1 order-2">
        <h2 class="title">We are Columbia Lightweight Rowing</h2>
        <p>
          This is a team dedicated to to winning the IRA National Championships. We approach each training session and every last meter as a choice because we know winning is a choice. Blah blah blah...etc.
        </p>

        <div class="icon-box wow fadeInUp">
          <div class="icon"><i class="fa fa-shopping-bag"></i></div>
          <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
          <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
        </div>

        <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
          <div class="icon"><i class="fa fa-photo"></i></div>
          <h4 class="title"><a href="">Magni Dolores</a></h4>
          <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>

        <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
          <div class="icon"><i class="fa fa-bar-chart"></i></div>
          <h4 class="title"><a href="">Dolor Sitema</a></h4>
          <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
        </div>

      </div>
      <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight"></div>
    </div>

  </div>
</section><!-- #about -->

<!--===============e===========
  Footer Section 
  ============================-->
<section id="contact">
  <div class="container wow fadeInUp">
    <div class="row justify-content-center">

      <div class="col-md-4">

        <div class="info">
          <div>
            <i class="fa fa-map-marker"></i>
            <p>Dodge Hall<br>Columbia University<br>New York, NY</p>
          </div>

          <div>
            <i class="fa fa-envelope"></i>
            <p>lwtpoodles150@gmail.com</p>
          </div>
        </div>
        <div class="social-links">
          <a href="https://www.facebook.com/ColumbiaRowing/" class="facebook"><i class="fa fa-facebook"></i></a>
          <a href="https://www.instagram.com/columbia_lightweight_rowing/" class="instagram"><i class="fa fa-instagram"></i></a>
          <a href="https://www.linkedin.com/in/columbia-lightweight-rowing-87448690" class="linkedin"><i class="fa fa-linkedin"></i></a>
          <a href="https://gocolumbialions.com/index.aspx?path=lwrow" class="roster"><i class="fa fa-globe"></i></a>
        </div>

      </div>

    </div>

  </div>
</section><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
{% endblock content %}
