{% extends 'layout.html' %}
{% block content %}
<script type="text/javascript" src="/static/js/admin.js"></script>
<link rel="stylesheet" href="/static/css/admin.css">

<div class="container">
    <div class="row admin-button">
        <a href="/admin/test">
            <button class="btn btn-outline-primary">Test method</button>
        </a>
    </div>
    <div class="row admin-button">
        <a href="/admin/authorize">
            <button class="btn btn-outline-primary">Begin authorization</button>
        </a>
    </div>
    <div class="row admin-button">
        <a href="/admin/insertNewToken">
            <button class="btn btn-outline-primary">Insert a new token!</button>
        </a>
    </div>
    <div class="row admin-button">
        <a href="/admin/insertAllAthletes">
            <button class="btn btn-outline-primary">Insert all athletes!</button>
        </a>
    </div>
	<div class="row admin-button">
		<div class='col-lg-5 align-self-center'>
			<div class="form-group">
				<div class="input-group date" id="datetimepickerStart" data-target-input="nearest">
					<input type="text" placeholder="Start Date" id="startDateInput"
						class="form-control datetimepicker-input" data-target="#datetimepickerStart" />
					<div class="input-group-append" data-target="#datetimepickerStart" data-toggle="datetimepicker">
						<div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
					</div>
				</div>
			</div>
		</div>
		<div class='col-lg-5 align-self-center'>
			<div class="form-group">
				<div class="input-group date" id="datetimepickerEnd" data-target-input="nearest">
					<input type="text" placeholder="End Date" id="endDateInput"
						class="form-control datetimepicker-input" data-target="#datetimepickerEnd" />
					<div class="input-group-append" data-target="#datetimepickerEnd" data-toggle="datetimepicker">
						<div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-2">
			<button type="submit" id="insertAllWorkoutsButton" class="btn btn-primary">
				<span id='spinner' class="spinner-border spinner-border-sm" role="status" hidden></span>
				<span id='submitLabel'>Insert All Workouts!</span>
			</button>
		</div>
	</div>
</div>
{% endblock content %}
