{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="/static/css/contact.css">
<div class="container contact-form">
    <div class="contact-image">
        <img src="https://upload.wikimedia.org/wikipedia/en/5/5f/Columbia_Lions_logo.svg" />
    </div>
    <form method="POST">
        <h3>Have Suggestions? Contact Us!</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="txtName" class="form-control" placeholder="Your Name *" value="" />
                </div>
                <div class="form-group">
                    <input type="text" name="txtEmail" class="form-control" placeholder="Your Email *" value="" />
                </div>
                <div class="form-group">
                    <input type="text" name="txtPhone" class="form-control" placeholder="Your Phone Number *"
                        value="" />
                </div>
                <div class="form-group">
                    <input type="submit" name="txtName" class="form-control" placeholder="Submit" value="Submit" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <textarea name="txtMsg" class="form-control" placeholder="Your Message *"
                        style="width: 100%; height: 150px;"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}