<!-- This html page is what ajax returns in the hours.js file. 
It then passes this html page to route.py which renders this template.  -->

<!-- Did not deem it necessary to make entirely new css file for data.html -->

<style>
  .my-table{
    position: absolute;
    height: auto; 
    width: 100%; 
    margin-top: 500px; 
    color: white;
    margin-left: 10px;
  }
</style>

<div class="my-table">
<table class="table" >
    <thead>
	<tr>
	    <th scope="col">Rank</th>
	    <th scope="col">Name</th>
	    <th scope="col">Hours</th>
	</tr>
    </thead>
    <tbody>
	{% if len is defined %}
	    {%for i in range(0, len)%}
		<tr>
		    <th scope="row">{{i+1}}</th>
		    <td>{{athletes[i].get("name")}}</td>
		    <td>{{athletes[i].get("rounded_hours")}}</td>
		</tr>
	    {%endfor%}
	{% endif %}
    </tbody>
</table>