{% extends 'layout.html' %}
{% block content %}
<script type="text/javascript" src="/static/js/hours.js"></script>
<div class="container-fluid" id="hours-content">
	<div class="row">
		<div class='col-lg-5 align-self-center'>
			<div class="form-group">
				<div class="input-group date" id="datetimepickerStart" data-target-input="nearest">
					<input type="text" placeholder="Start Date" id="startDateInput"
						class="form-control datetimepicker-input" data-target="#datetimepickerStart" />
					<div class="input-group-append" data-target="#datetimepickerStart" data-toggle="datetimepicker">
						<div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
					</div>
				</div>
			</div>
		</div>
		<div class='col-lg-5 align-self-center'>
			<div class="form-group">
				<div class="input-group date" id="datetimepickerEnd" data-target-input="nearest">
					<input type="text" placeholder="End Date" id="endDateInput"
						class="form-control datetimepicker-input" data-target="#datetimepickerEnd" />
					<div class="input-group-append" data-target="#datetimepickerEnd" data-toggle="datetimepicker">
						<div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-2">
			<button type="submit" id="dataSubmitButton" class="btn btn-primary">
				<span id='spinner' class="spinner-border spinner-border-sm" role="status"></span>
				<span id='submitLabel'>Get Hours</span>
			</button>
		</div>
	</div>
	<div class="row" id="hours-table-div"></div>
</div>
{% endblock content %}