<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Columbia Lightweight Rowing</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="Rowing, Data, Columbia, Statistics, Analytics, C150" name="keywords">
  <meta content="A website designed to meaningfully display the Columbia Lightweight Rowing team's training data."
    name="description">

  <!-- Favicons -->
  <link href="../static/img/favicon.png" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

  <!-- Bootstrap CSS File 4.0.0-->
  <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files for Animations and Fonts-->
  <link href="../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../static/lib/animate/animate.min.css" rel="stylesheet">

  <!-- JQuery JS -->
  <script src="../static/lib/jquery/jquery.min.js"></script>

  <!-- Moment JS -->
  <script src="https://momentjs.com/downloads/moment.js"></script>

  <!-- Tempus Dominus JS + CSS for Datetimepicker-->
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js">
  </script>
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css">

  <!-- Main Stylesheet File -->
  <link href="../static/css/style.css" rel="stylesheet">
</head>

<body>

  <!--==========================
  Header
  ============================-->
  <header id="header">
    <div class="container">

      <!-- Header Logo -->
      <div id="logo" class="pull-left">
        <a href="/"><img src="../static/img/LightweightLion.png" alt="" id="logoimage" /></img></a>
        <h3><a href="/">C150</a></h3>
      </div>

      <!-- NavBar Menu -->
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="{{ 'active' if active_page == 'about' else '' }}"><a href="{{ url_for('about') }}">Home</a></li>
          {% if current_user.is_authenticated %}
          <li class="{{ 'active' if active_page == 'hours' else '' }}"><a class="nav-link"
              href="{{ url_for('hours') }}">Hours</a></li>
          <li class="{{ 'active' if active_page == 'contact' else '' }}"><a class="nav-link"
              href="{{ url_for('contact') }}">Contact</a></li>
          <li class="{{ 'active' if active_page == 'logout' else '' }}"><a class="nav-link"
              href="{{ url_for('logout') }}">Logout</a></li>
          {% if config['ENV'] == 'development' %}
          <li><a href="{{ url_for('admin') }}">Admin</a></li>
          {% endif %}
          {% else %}
          <li class="{{ 'active' if active_page == 'login' else '' }}"><a href="{{ url_for('login') }}">Login</a></li>
          {% endif %}
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!-- Content -->
  <!-- Main content -->
  {% block content %}{% endblock %}



  <!-- JavaScript Libraries -->
  <script src="../static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/lib/easing/easing.min.js"></script>
  <script src="../static/lib/wow/wow.min.js"></script>
  <script src="../static/lib/waypoints/waypoints.min.js"></script>
  <script src="../static/lib/counterup/counterup.min.js"></script>
  <script src="../static/lib/superfish/hoverIntent.js"></script>
  <script src="../static/lib/superfish/superfish.min.js"></script>

  <!-- Template Main Javascript File -->
  <script src="../static/js/main.js"></script>

</body>

</html>